@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full;
    @apply w-full;
    @apply bg-neutral-100;
    @apply text-zinc-400;
    @apply selection:bg-zinc-400;
    @apply selection:text-gray-700;
  }

  #root {
    @apply flex;
    @apply flex-col;
    @apply h-full;
    @apply w-full;
  }
}

@layer components {
  .scrollbar-y {
    overflow-y: auto;
    padding-right: 6px;
  }

  .scrollbar-y::-webkit-scrollbar {
    width: 8px;
  }

  .scrollbar-x::-webkit-scrollbar-thumb,
  .scrollbar-y::-webkit-scrollbar-thumb {
    @apply bg-neutral-300;
    @apply rounded-sm;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
